<div class="section">

    <div class="container">
        <div class="row">
            <div class="navbar">
                <input placeholder="File name" type="text" class="search-query" placeholder="Search" ng-model="model.file.filename_splitted">
                <span>.html</span>
            </div>
        </div>

        <div class="row">
            <div text-angular ng-model="model.file.content" ta-toolbar="[[
            'h1',
            'h2',
            'h3',
            'bold',
            'italics',
            'underline',
            'ul',
            'ol',
            'undo',
            'redo',
            'html',
            'insertImage']]"></div>
        </div>
        <div class="row buttons-container">
            <button class="btn btn-success" ng-click="model.save()">Save</button>
            <button class="btn btn-danger" ng-click="model.cancel()">Cancel</button>
        </div>

    </div>

</div>