<div class="section">

    <div class="container" ng-show="model.loaded">
        <div class="row">
            <h3>
                {{model.file.filename}}
            </h3>
        </div>

        <div class="row">

            <div ng-if="model.isText" class="text-preview">
                <div ta-bind ng-model="model.file.content"></div>
            </div>

            <div class="row" ng-if="!model.isText">
                <div class="text-center" ng-show="uploader.isHTML5" data-base64="{{model.file.content}}" ng-thumb-canvas="{ height: 500 }"></div>
            </div>
        </div>

        <div class="row buttons-container">
            <button class="btn btn-success" ng-if="model.isText" ng-click="model.edit()">Edit</button>
            <button class="btn btn-danger" ng-click="model.cancel()">Cancel</button>
        </div>


    </div>

</div>